<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient Descent</title>
</head>

<body>
    <center>
        <div style="display: inline-block; margin: 10px;">
            <video style="width: 100%; display: inline;" controls>
                <source src="{{url_for('static', filename='./graph.mp4')}}" type="video/mp4">
            </video>
        </div>
        <div style="display: inline-block;">
            <form action="/" method="POST" style="display: inline;">
                <table>
                    <tr>
                        <td>Equation</td>
                        <td><input type="text" name="equation"></td>
                    </tr>
                    <tr>
                        <td>x_min</td>
                        <td><input type="text" name="x_min"></td>
                    </tr>
                    <tr>
                        <td>x_max</td>
                        <td><input type="text" name="x_max"></td>
                    </tr>
                    <tr>
                        <td>Initial value of x</td>
                        <td><input type="text" name="x1"></td>
                    </tr>
                    <tr>
                        <td>Learning Rate</td>
                        <td><input type="text" name="lr"></td>
                    </tr>
                    <tr>
                        <td>Epochs</td>
                        <td><input type="text" name="epochs"></td>
                    </tr>
                    <tr align="center">
                        <td colspan="2"><input type="submit" name="submit"></td>
                    </tr>
                </table>
        </div>
        </form>
        <!-- <img style="width: 40%;" src="{{url_for('static', filename='./graph.png')}}"> -->

    </center>
</body>

</html>